<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <div class="columns my-4">
        <div class="column py-6  is-half is-offset-one-quarter">
            <article class="message is-warning">
                <div class="message-body p-6 is-offset-one-quarter">
                    <!-- <label for="code"> : </label> -->
                    <div class="columns">
                        <div class="column is-half is-offset-one-quarter">
                            <h4>Your score is <%=score%></h4>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</body>
</html>